button.ClassSelect {
  font-family: 'TF2 Build';
  width: 100px;
  height: 50px;
  background: var(--tf2-orange);
  color: var(--tf2-light);
  font-size: 14pt;
  border: 4px solid rgb(179, 65, 23);
  border-radius: 5px;
  cursor: pointer;
}